.App {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

input {
  padding: 8px;
  font-size: 16px;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.weather-card {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 300px;
  margin: 20px auto;
  background-color: #ebe4e4;
}

.weather-card h2 {
  font-size: 24px;
}

.weather-card p {
  font-size: 18px;
}
